#menu-account {
  border-left: 5px solid black;

  & a {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: .1px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
  }
}