.header-bottom {
  background-color: $color-orange;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      display: flex;
      align-items: stretch;
      transition: opacity .4s;
      border-bottom: 4px solid $color-orange;

      &:hover {
        border-bottom-color: white;
      }
    }

    & a {
      display: flex;
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 10px;
      letter-spacing: 1px;
      text-align: left;
      white-space: nowrap;
      align-items: center;
      text-transform: uppercase;
      padding: 1.1rem;
      transition: all 0s .2s;
    }
  }
}