.header-bottom {
  display: block;
  background-color: $color-orange;
  margin-bottom: -20px;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      display: flex;
      align-items: stretch;
      transition: opacity .4s;
    }

    & a {
      display: flex;
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 10px;
      letter-spacing: 1px;
      text-align: left;
      white-space: nowrap;
      align-items: center;
      text-transform: uppercase;
      padding: 1.1rem;
      transition: all .5ms ease-in;

      &:hover {
        font-weight: bold;
      }
    }
  }
}