.header {
  height: 8rem;

  @import "header_top";
  @import "header_bottom";
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    max-height: 5rem;

    & .search {
      & input {
        border-radius: 0;
        box-shadow: 0 4px 11px rgba(0, 0, 0, .2);
      }

      & button {
        border-radius: 0;

        & i {
          color: white;
        }
      }
    }
  }

}