.header {
  height: 8.5rem;

  @import "header_top";
  @import "header_bottom";
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 0 10px 10px 10px;
    max-height: 10rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    /* bloc logo et menu hamburger */
    & .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* logo de yebay */
      & img {
        max-width: 13rem;
      }

      /* icon hamburger */
      & i {
        font-size: 2rem;
      }
    }

    & .search {

      & input {
        border-radius: 0;
        box-shadow: 0 4px 11px rgba(0, 0, 0, .2);
      }

      & button {
        border-radius: 0;

        & i {
          color: white;
        }
      }
    }
  }

}