.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 2000;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 2px solid $color-orange;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  transition: all .5s ease-in-out;

  /* top */
  & .sidebar-top {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 100%;
    overflow: hidden;

    & .sidebar-logo {
      height: 100%;
      cursor: pointer;

      & img {
        object-fit: cover;
        object-position: top;
        height: 80%;
        width: 100%;
      }
    }

    & .sidebar-close {
      height: 100%;
      position: relative;

      & .icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background-color: $color-orange;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        color: white;

        & .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1rem;
        }
      }
    }
  }

  /* items */
  & .sidebar-items {
    height: 80%;
    width: 100%;
    background-color: inherit;
    border-top: 1px solid #e7e7e7;
    margin: 0;
    padding: 0;

    & li {
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      height: 50px;
      display: block;
      font-size: 1.25rem;
      float: left;
      text-transform: uppercase;

      & a {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-size: .875rem;
        letter-spacing: .5px;
        color: $color-black;

        &:hover {
          color: $color-orange;
        }

        &.active {
          color: $color-orange;
        }
      }
    }
  }

  /* bottom */
  & .sidebar-bottom {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-between;

    & i {
      font-size: 2rem;
    }

    & .social-ul {
      margin-bottom: 2rem;

      & .socials-item {
        margin-right: 2rem;
      }
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {

  /* CSS */
  .sidebar-mobile {
    width: 100%;
  }
}