footer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, .1);
  margin-top: 5rem;

  & .footer-top {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0);

    & h4 {
      font-size: .75rem;
      font-weight: 300;
      letter-spacing: .0625rem;
    }

    & .social-ul {
      display: flex;
      align-content: center;
      justify-content: center;

      & .socials-item {
        margin-right: 10px;
        color: black;
        font-size: 1.5rem;

        &:hover {
          color: whitesmoke;
        }
      }
    }


    & ul {
      & li a {
        font-size: .75rem;
        font-weight: 500;
        letter-spacing: .0625rem;
        color: black;

        &:hover {
          color: whitesmoke;
        }
      }
    }
  }

  & .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background-color: black;
    text-align: center;

    & a {
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .0625rem;
      line-height: 1rem;
      margin-right: 10px;
      text-transform: uppercase;
      color: white;

      &:hover {
        color: whitesmoke;
      }
    }
  }

}