/* green */
$color-green: #cbffe4;
$color-green-dark: #4daf77;

/* blue */
$color-blue-white: #f9f8ff;
$color-blue: #dce1ff;
$color-orange: #d6b40c;
$color-red: #ff1515;
$color-black: #252525;
$color-grey: #d4d4d4;
$color-pink: #0d6efd;


.bg-orange {
  background-color: $color-orange;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #1DA1F2;
}


.bg-blue {
  background: $color-blue;
}

.bg-grey {
  background: $color-grey;
}

.text-grey {
  color: $color-grey;
}

.text-orange {
  color: $color-orange;
}

.text-grey-dark {
  color: darken($color-grey, 30);
}

.sidebarRight-bg {
  background: #f9f8ff;
}