#register-pandev {
  & .register-pandev-lef {
    background-color: $color-black;
  }

  & form {
    & label {
      width: 100%;
      color: #767676;
      line-height: 1.4;
      letter-spacing: 2px;
      font-weight: 500;
      text-transform: uppercase;
    }

    & input {
      box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, .1);
      width: 100%;
    }

    & input[type=radio] {
      width: auto;
    }
  }
}